<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for blog in current_page %}
        <p>{{ blog.name }}---{{ blog.tagline }}</p>
    {% endfor %}
    <div class="'paginator">
        {% if current_page.has_previous %}
            <a href="/blog/?page={{ current_page.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current_page">Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}</span>

        {% if current_page.has_next %}
            <a href="/blog/?page={{ current_page.next_page_number }}">下一页</a>
        {% endif %}
    </div>
</body>
</html>